@charset "utf-8";

/*Content for Body*/
.container {
  margin-top: 20px;
  background-color: #883E24;
  padding: 0px;
}

form {
  font-family: 'Hind', sans-serif;
  color: white;
}

#success-message {
  font-family: 'Hind', sans-serif;
  color: white;
  font-size: 22px; 
}
