/*Main CSS*/

body {
  background: white;
  margin: 0;
  padding-bottom: 10px;
}

/* Navigation */
.navbar-nav .nav-item.active .nav-link {
  color: #7E0000 !important;
}

.navbar-brand img {
  width: 100px;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

/* Footer */
.footer-container {
  font-family: 'Hind', sans-serif;
  font-weight: bold;
}
