@charset "utf-8";

.menu-heading {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Hind', sans-serif;
}

/*Drip Menu Typography*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
svg {
  position: absolute;
}
.wrapper {
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
  background-color: #883E24;
}
.image-container {
  width: 100%;
  text-align: center;
  max-width: 100%;
  height: auto;
}

/* Media Query for Desktop */
@media (min-width: 768px) {
  .image-container {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    height: 35vh;
  }
}

.media-body{
	font-family: 'Hind', sans-serif;
}
