@charset "utf-8";

/*Drip Shop Typography*/
/*Drip Menu Typography*/
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
svg {
  position: absolute;
}

.card-body{
	font-family: 'Hind', sans-serif;
}

.wrapper {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-color: #883E24;
}
#text-container {
  height: 100px;
  width: 100px;
  margin: 200px auto;
  position: relative;
  filter: url(#goo);
}
#text-container .shop-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Anton;
  font-size: 200px;
  z-index: 999;
  color: white;
}
#text-container .drop {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(120%, -800%) scaleX(0.5);
  animation: move 6s cubic-bezier(1, 0.04, 0.74, 0.2) infinite;
}
@keyframes move {
  0% {
    transform: translate(120%, -800%) scaleX(0.2);
    height: 60px;
  }
  30% {
    transform: translate(120%, -200%);
    height: 30px;
  }
  70% {
    transform: translate(120%, 100%);
    height: 30px;
  }
  100% {
    transform: translate(120%, 800%) scaleX(0.2);
    height: 30px;
	}
}
	
/*Shopping Items and Cart*/
#cart-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  font-family:'Hind', sans-serif;
}

#cart-items {
  list-style: none;
  padding: 0;
}

#cart-items li {
  margin-bottom: 5px;
}

#checkout-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}